@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

        /* ------------------ GLOBAL STYLES ------------------ */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }


.app {
  background-color: #1c0f2e; /* deep purple */
  min-height: 100vh;
  color: #e0d9f0; /* soft lavender text */
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  padding: 40px;
}